* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

[data="month"] h1.pricea {
  display: none;
}

[data="month"] h1.pricem {
  display: block;
}

[data="anually"] h1.pricea {
  display: block;
}

[data="anually"] h1.pricem {
  display: none;
}

body {
  margin: auto;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 35vw bottom 0vh, left 35vw top 0vh;
  width: 425px;
  font-size: 15px;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.header {
  margin: auto;
  margin-top: 50px;
}

.header h1 {
  color: #494c5f;
}

.cards {
  margin-top: 50px;
}

.cards .card {
  background-color: #fff;
  padding: 30px;
  margin: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(85, 85, 85, 0.31);
          box-shadow: 0px 0px 5px 0px rgba(85, 85, 85, 0.31);
}

.cards .card h4.title {
  color: #494c5f;
  margin: 15px 0;
}

.cards .card h1.pricem {
  font-size: 2.5rem;
  padding: 10px;
  border-bottom: 1px solid #6d708d;
}

.cards .card h1.pricea {
  font-size: 2.5rem;
  padding: 10px;
  border-bottom: 1px solid #6d708d;
}

.cards .card h4.info {
  color: #494c5f;
  padding: 10px 0;
  border-bottom: 1px solid #6d708d;
}

.cards .card button#learn-more {
  width: 100%;
  margin-top: 25px;
  padding: 15px 0;
  border: none;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.cards .card:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: white;
}

.cards .card:nth-child(2) h4.title {
  color: white;
}

.cards .card:nth-child(2) h4.info {
  color: white;
}

.cards .card:nth-child(2) button#learn-more {
  color: #696fdd;
  background: #fff;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch-wrapper .switch {
  margin: 0 10px;
  color: #6d708d;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  body {
    width: 1440px;
    margin: auto;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards .card {
    margin: 0 -5px;
    width: 350px;
    height: 400px;
  }
  .cards .card button#learn-more:hover {
    background: #f6f6fe;
    color: #696fdd;
  }
  .cards .card:nth-child(2) {
    height: 450px;
    margin-top: -25px;
    padding-top: 55px;
    position: relative;
  }
  .cards .card:nth-child(2) button#learn-more:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
    background: linear-gradient(#a3a8f0, #696fdd);
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */